@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Instrument Sans", sans-serif;
}

/* Override the pagination component styles */
.ant-pagination-item a {
  color: #3E4095 !important;
}

.ant-pagination-item-active {
  border-color: #3E4095 !important;
}

.ant-pagination-item-active a {
  color: #3E4095 !important;
}

.ant-pagination-item:hover a {
  color: #3E4095 !important;
}

.ant-pagination-item:hover {
  border-color: #3E4095 !important;
}

.ant-pagination-next a, .ant-pagination-prev a {
  color: #3E4095 !important;
}

.ant-pagination-next:hover a, .ant-pagination-prev:hover a {
  color: #3E4095 !important;
}
